# See http://help.github.com/ignore-files/ for more about ignoring files.

front/.angular

# Compiled output
front/dist
front/tmp
front/out-tsc
front/bazel-out

# Node
front/node_modules
front/.vscode/*
serveur/node_modules
serveur/redis
serveur/bdd.db
redis