# See http://help.github.com/ignore-files/ for more about ignoring files.

front/.angular

# Compiled output
front/dist
front/tmp
front/out-tsc
front/bazel-out

# Node
front
serveur/node_modules
serveur/redis
front-built/node_modules
serveur/bdd.db
redis